<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Academia</title>
</head>
<body>
    <h2>Hello {{ recipient_name }},</h2>
    <p>Welcome to Academia! Your account has been created successfully.</p>
    <p>Your account is currently awaiting admin approval. Once approved, you can log in using the link below:</p>
    <p><a href="{{ login_url }}">Log in to Academia</a></p>
    <p>Thank you for joining us!</p>
    <p>Best,<br>The Academia Team<br><a href="http://academiaadmit.in">academiaadmit.in</a></p>
</body>
</html>